#DATA TYPE AND STRUCTURE (THEORY ANSWERS)

#1.  What are data structures, and why are they important?

    -> Data structure is a format used to store , mantain , access , and manipulate collection of data .

    -> Importance of data type:
       1. Record in suitable data structure
       2. Conserve in memory usage
       3. heps in data manipulation
       4. sorting and accessing data efficiently.

#2.  Explain the difference between mutable and immutable data types with examples ?

    ->MUTABLE DATA TYPES: It is a type of data in which the object /variables data elements can be changed .
    eg: lists etc

    ->IMMUTABLE DATA TYPES: It is a type of data in which the object /variables of data elements cannot be changed .
    eg:string , tuples etc.

#3.   What are the main differences between lists and tuples in Python?

    ->lists are mutable . Elements of list can be modified once created .
     On the other hand, tuples are immutable . Elements of tuples cannot be modified once created .
              
#4.  Describe how dictionaries store data?

    ->Dictionaries store data in a form of key value pairs .
     You can access the value of pair from their keys .

#5.  Why might you use a set instead of a list in Python?

    ->Sets are unorderd collection of unique data.
     Sets are useful for finding unions, intersaction and difference among different sets .

#6.  What is a string in Python, and how is it different from a list?

    ->String is a type of data structure in which characters are used in unorderd way like word, sentence , etc.

    -> Strings are immutable data type .On the other hand , lists are mutable . Elements of list can be modified once created .

#7.  How do tuples ensure data integrity in Python?

    -> Tuples are immutable .
     Elements of tuples cannot be modified once created .
     They ensures the integrity of data in python .

#8.  What is a hash table, and how does it relate to dictionaries in Python?

    ->Hash table is used to store data in a key value pair format .
    Dictionaries are made in python using hash table .



#9.  Can lists contain different data types in Python?

    ->yes a list can  contain different data types in Python like numbers , string , float , boolean etc .




#10.  Explain why strings are immutable in Python?

    ->String is a type of data structure in which characters are used in unorderd way like word, sentence , etc.
     Strings are immutable data type once created  data elements cannot be changed .

#11.  What advantages do dictionaries offer over lists for certain tasks?

    ->Dictionaries store data in a form of key value pairs .
     You can access the associated value of each pair from their keys .
     They are useful in making resturent menu , employees id etc




#12.  Describe a scenario where using a tuple would be preferable over a list?

    -> If you want to make a collection of data more secure and preserve its integrity then tuple is preferable
    eg: Employees id , adhar number , product unigue code etc.

#13.  How do sets handle duplicate values in Python?

    -> Sets are unorderd collection of unique data. They don't take duplicate data and only save unique elements .

#14.  How does the “in” keyword work differently for lists and dictionaries?

    ->"in" keyword is used in lists to figure out wheather the specific element belong to the list or not . On the other hand ,"in" keyword is used in dictionaries to test keys .

#15.  Can you modify the elements of a tuple? Explain why or why not?

    -> No ,once created you cannot modify the elements of a tuple because they store data in a secure way and don't accept modification to maintain integrity of data .



#16.  What is a nested dictionary, and give an example of its use case?

    ->Nested dictionary is a type of dictionary where its value are its self dictionary .
    It is useful when you have to categorise data into different objects.
    eg: resturant menu having different category like snacks , drinks, meals and then further category in snacks and drinks .



#17.  Describe the time complexity of accessing elements in a dictionary?

    ->time complexity of accessing elements in a dictionary by its keys is constant .


#18.  In what situations are lists preferred over dictionaries ?

    ->When the data does'nt require any key value pair and has a single category and want a ordered collection of data list is preferable.
    eg: grocery list , friends name list etc .

#19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

    ->Dictionaries are unordered pair of key value .
    If yoy want to retrieve the data you have to access through the keys .

#20. Explain the difference between a list and a dictionary in terms of data retrieval?

    ->lists are mutable . Elements of list can be modified once created .
    They are ordered elements can be access through index numbers

    On the other hand,

    ->Dictionaries are unordered pair of key value .
    If yoy want to retrieve the data you have to access through the keys .

#PRACTICAL ANSWERS

#ANSWER-1

In [ ]:
#Write a code to create a string with your name and print it?
name = "lavanya"
print(name)

lavanya

#ANSWER-2

In [ ]:
# Write a code to find the length of the string "Hello World"?
st = "Hello World"
len(st)

11

#ANSWER-3

In [ ]:
#Write a code to slice the first 3 characters from the string "Python Programming"
pro = "Python Programming"
print(pro[0:3])

Pyt

#ANSWER-4

In [ ]:
#Write a code to convert the string "hello" to uppercase?
h = "hello"
h.upper()

'HELLO'

#ANSWER-5

In [ ]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"?
s = "I like apple"
t = s.replace("apple" , "orange")
t

'I like orange'

#ANSWER-6

In [ ]:
#Write a code to create a list with numbers 1 to 5 and print it
l = list(range(1,6))
l

[1, 2, 3, 4, 5]

#ANSWER-7

In [ ]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
l2 = [1, 2, 3, 4]
l2.append(10)
l2

[1, 2, 3, 4, 10]

#ANSWER-8

In [ ]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
l3 = [1, 2, 3, 4, 5]
l3.remove(3)
l3

[1, 2, 4, 5]

#ANSWER-9

In [9]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
l4 = ["a", "b", "c", "d"]
l4

['a', 'b', 'c', 'd']

In [11]:
print(l4[1])

b

#ANSWER-10

In [19]:
# Write a code to reverse the list [10, 20, 30, 40, 50].
l5 = [10, 20, 30, 40, 50]
print(l5[::-1])

[50, 40, 30, 20, 10]

#ANSWER-11

In [20]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
t1 = (100, 200, 300)
type(t1)

tuple

#ANSWER-12

In [24]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t2 =  ("red", "green'", "blue", "yellow")
print(t2[1:4])

("green'", 'blue', 'yellow')

#ANSWER-13

In [26]:
# Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t3 = (10, 20, 5, 15)

In [28]:
min(t3)

5

#ANSWER-14

In [4]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t4 = ("dog", "cat", "rabbit")

In [3]:
t4.index("cat")

1

#ANSWER-15

In [7]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t5 = ("mango", "kiwi", "orange")
"kiwi" in t5

True

#ANSWER-16

In [11]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
set1 = {"a","b","c"}
print(set1)

{'a', 'b', 'c'}

#ANSWER-17

In [15]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set2 = {1,2,3,4,5}
set2.clear()
set2

set()

#ANSWER-18

In [17]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}
set3 = {1,2,3,4}
set3.remove(4)
set3

{1, 2, 3}

#ANSWER-19

In [18]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set4 = {1,2,3}
set5 = {3,4,5}
set4|set5

{1, 2, 3, 4, 5}

#ANSWER-20

In [19]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6 = {1,2,3}
set7 = {2,3,4}
set6 & set7

{2, 3}

#ANSWER-21

In [22]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic = {"name":"aryan", "age":18, "city":"delhi"}
dic

{'name': 'aryan', 'age': 18, 'city': 'delhi'}

#ANSWER-22

In [24]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic2 = {"name":"aryan", "age":18}
dic2["country"] = "usa"

In [25]:
dic2

{'name': 'aryan', 'age': 18, 'country': 'usa'}

#ANSWER-23

In [5]:
#Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic3 = {"name":"alice","age":30}
print(dic3)

{'name': 'alice', 'age': 30}

In [6]:
print(dic3["name"])

alice

#ANSWER-24

In [7]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic4 = {"name":"bob","age":22,"city":"new york"}

In [8]:
dic4.pop("age")

22

In [9]:
dic4

{'name': 'bob', 'city': 'new york'}

#ANSWER-25

In [10]:
# Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dic5 = {"name":"bob","city":"new york"}

In [12]:
dic5.keys()

dict_keys(['name', 'city'])

#ANSWER-26

In [15]:
 #Write a code to create a list, a tuple, and a dictionary, and print them all
 list1 = [1,2,3]
 tuple1 = (4,5)
 dic7 = {"name":"aryan"}
 print(list1 , tuple1 , dic7)

[1, 2, 3] (4, 5) {'name': 'aryan'}

#ANSWER-27

In [19]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
list2 = [3,7,2,1]

list2.sort()
print(list2)

[1, 2, 3, 7]

#ANSWER-28

In [20]:
# Write a code to create a list with strings and print the element at the third index
list3 = ["raj","apple", "gaurav","mango"]
print(list3[3])

mango

#ANSWER-29

In [2]:
# Write a code to combine two dictionaries into one and print the result.
dic7 = {"name":"aryan"}
dic8 = {"age":20}
dic7.update(dic8)

In [3]:
dic7

{'name': 'aryan', 'age': 20}

#ANSWER-30

In [10]:
# Write a code to convert a list of strings into a set.
list4 = ["raj","apple", "gaurav","mango"]
new = set(list4)
print(new)

{'mango', 'raj', 'gaurav', 'apple'}